@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html::-webkit-scrollbar {
    width: 10px;
  }
  html::-webkit-scrollbar-track {
    background: opacity-0;
  }
  html::-webkit-scrollbar-thumb {
    background: orange;
  }

  body {
    @apply bg-[#141414] text-white;
  }
  header {
    @apply fixed top-0 z-50 flex items-center justify-between transition-all lg:px-10 px-2 lg:py-6 py-2 w-full;
  }
}

@layer components {
  .headerlink {
    @apply cursor-pointer text-sm md:text-lg transition duration-[.4s] text-gray-50 hover:text-white;
  }
  .bannerButton {
    @apply flex items-center gap-x-2 rounded px-5 py-2 text-sm transition hover:opacity-75 md:py-3 md:px-8 md:text-xl;
  }
  .thumbrow::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .thumbrow {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .input {
    @apply w-full rounded bg-[#333] px-5 py-3.5 placeholder-gray-600 focus:outline-none focus:ring focus:ring-orange-400
  }
}

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 2px 2px 4px black;
    }
    .text-shadow-md {
      text-shadow: 4px 4px 8px black;
    }
    .text-shadow-lg {
      text-shadow: 15px 15px 30px black;
    }
    .text-shadow-none {
      text-shadow: none;
    }
  }
}
